{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<!-- Start Header Section -->
<div class="page-header">
     <div class="overlay">
         <div class="container">
             <div class="row">
                <div class="col-md-12">
                    <h1>Account Creation</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->


{% if messages %}
<section>
    {% for message in messages %} 
        {% if message.tags == "error"%}
        <div class="alert alert-danger">
            <div class="messages">
               {{ message }} 
            </div>
        </div>
        {% endif %}
   {% endfor %}
</section>
{% endif %}


<form role="form" method="post" action="{% url 'user_register' %}">
    {% csrf_token %}
    {{ form | as_bootstrap }}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create account</button>
    </div>
</form>
{% endblock %}