{% extends "base.html" %} 
{% load staticfiles %} 

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'orders/css/orders.css' %}">
{% endblock %} 


{% block content %}
        <!-- Start Header Section -->
        <div class="page-header">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Your Orders</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Section -->


{% if messages %}
    {% for message in messages %} 
        {% if message.tags == "info"%}
        <div class="alert alert-warning">
            <div class="messages">
               {{ message }} 
            </div>
        </div>        
        {% endif %}
   {% endfor %}
{% endif %}        


<table class="table table-responsive">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Order ID</th>
            <th>Delivered To</th>
            <th>Total Cost</th>
        </tr>
    </thead>
    <tbody id="table-row-highlight">
    {% for order in customer_orders %}
        <tr>
            <td>{{order.date}}</td>
            <td>{{order.time}}</td>
            <td class="order_id">{{order.id}}</td>
            <td>{{order.address_line1}}, {{order.address_line2}}, {{order.county}}, {{order.postcode}}</td>
            <td>&pound;{{order.total}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% if customer_orders.has_other_pages %}
  <ul class="pagination">
    {% if customer_orders.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in customer_orders.paginator.page_range %}
      {% if customer_orders.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if customer_orders.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}


{% block extra_footer %}
<script src="{% static 'orders/js/orders.js' %}"></script>
{% endblock %} 