{% extends "base.html" %}
{% block content %}
<!-- Start Header Section -->
<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Contact Us</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->

<!-- Embedded as per -->
<div class="col-sm-6">
    <h2>Contact Details</h2>
    <p class="about-title">Address:</p>
    <p class="about-text">21 Albert Rd</p> 
    <p class="about-text">Portsmouth</p>
    <p class="about-text">Southsea PO5 2SB</p>
    <p class="about-title">Phone:</p>
    <p class="about-text">023 9242 1942</p>
    <p class="about-title">Email:</p>
    <p class="about-email-text">sewingofsouthsea@void.com</p>
</div>

<div class="col-sm-6">
    <h2>Our Location:</h2>
    <div id="map">
     </div>
</div>


{% endblock %}

{% block extra_footer %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv5r-mFuGlcKY1QraqB4LYIAiLbfM5kKE&callback=initMap">
</script>
{% endblock %} 



