{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

        <!-- Start Header Section -->
        <!-- Image set on BANNER -->
        <div class="banner">
            <div class="overlay">
                <div class="container">
                    <div class="intro-text">
                        <h1>Welcome To <span>Sewing of Southsea</span></h1>
                        <p>We create, stock and repair a range of beautiful clothing  <br> <em> "Quality clothing at an affordable price"</em></p>
                        <a href="{% url 'products' %}" class="page-scroll btn btn-primary">Our Products</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Section -->
        <!-- Start Service Section -->
        <section id="service-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="50ms">
                            <h2>Our Services</h2>
                            <p>We offer a range of high quality dress/suit making along garment alteration and restoration services</p>
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="services-post">
                            <a href="#"><i class="fa fa-scissors"></i></a>
                            <h2>Create Bespoke Clothing</h2>
                            <p>We can create clothing to your design, with the materials you want. </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="services-post">
                            <a><i class="fa fa-magic"></i></a>
                            <h2>Restore/Fix Clothing</h2>
                            <p>As if by magic, we restore damaged clothing back to it's former glory. </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="services-post">
                            <a href="#"><i class="li_t-shirt"></i></a>
                            <h2>Our Clothing Line</h2>
                            <p>Clothing we have designed ourselves and high quality garments we have sourced.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="services-post">
                            <a href="#"><i class="fa fa-recycle"></i></a>
                            <h2>Recycle old Clothes</h2>
                            <p>We can help bring old clothing back to life with new designs! </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start Service Section -->
{% endblock %}