{% extends "base.html" %} 
{% load staticfiles %}
{% block content %}
        <!-- Start Header Section -->
        <div class="page-header">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Welcome</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Section -->

<section>
{% if messages %}
    {% for message in messages %} 
        {% if message.tags == "error"%}
        <div class="alert alert-danger">
            <div class="messages">
               {{ message }} 
            </div>
        </div>
        {% elif message.tags == "success"%}
        <div class="alert alert-success">
            <div class="messages">
               {{ message }} 
            </div>
        </div>        
        {% elif message.tags == "info"%}
        <div class="alert alert-warning">
            <div class="messages">
               {{ message }} 
            </div>
        </div>                
        {% endif %}
   {% endfor %}
{% endif %}
</section>


    <!-- Start About Us Section -->
    <section id="about-section" class="about-section">
        <div class="container">
            <div class="row">
               <div class="col-md-5">
                   <div class="about-img">
                       <img src="{% static 'theme/assets/images/corporate1.jpg' %}" class="img-responsive" alt="About images">
                       <div class="head-text">
                           <p>We work from our workshop on Albert Road, Southsea. Your always welcome to pop in and discuss your requirements <i class="fa fa-smile-o"></i></p>
                       </div>
                   </div>
               </div>
               <div class="col-md-7">
                   <div class="about-text">
                      <p> We are Sigita and Jola, a two lady team, who are both highly experienced tailors and dressmakers with the skills to repair or alter any garments including unusual fabrics. We work with leather, fine silk, PVC, fur etc. We have over 30 years of experience between us and this means we can literally handle anything from replacing a zip on your favourite jeans, fixing up a bust rucksack or altering a Chanel gown. We also undertake dressmaking projects. </p>

                      <p>As part of our quality service, we offer fast, same day and emergency services for simple repairs or alterations, in addition to providing free local pick up and drop off service for a small charge.</p>

                      <p>We offer very reasonable prices for the local area and if you already have a quote we will strive to beat it. We consider no task is too small or too big, so please contact us and let us provide advice and a free no obligation quote.</p>
                   </div>
                   
                   <div class="about-list">
                       <h4>We can help if you:</h4>
                       <ul>
                           <li><i class="fa fa-check-square"></i>Desire high quality clothing at affordable prices.</li>
                           <li><i class="fa fa-check-square"></i>Wish to design your own high quality clothing.</li>
                           <li><i class="fa fa-check-square"></i>Have a much loved garment which doesn’t quite fit the bill.</li>
                           <li><i class="fa fa-check-square"></i>have clothing that is need of restoration.</li>
                       </ul>
                   </div>
               </div>
            </div>
        </div>
    </section>
        <!-- Start Service Section -->
        <section id="service-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="50ms">
                            <h2>Our Services</h2>
                            <p>We offer a range of high quality dress/suit making, alteration and restoration services</p>
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="services-post">
                            <a href="#"><i class="fa fa-scissors"></i></a>
                            <h2>Create Bespoke Clothing</h2>
                            <p>We can create clothing to your design, with the materials you want. </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="services-post">
                            <a><i class="fa fa-magic"></i></a>
                            <h2>Restore/Fix Clothing</h2>
                            <p>As if by magic, we restore damaged clothing back to it's former glory. </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="services-post">
                            <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                            <h2>Our Clothing Line</h2>
                            <p>Clothing we have designed ourselves and high quality garments we have sourced.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="services-post">
                            <a href="#"><i class="fa fa-recycle"></i></a>
                            <h2>Recycle old Clothes</h2>
                            <p>We can help bring old clothing back to life with new designs! </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start Service Section -->
{% endblock %}