{% extends "base.html" %} 
{% load staticfiles %}
{% block content %}
        <!-- Start Header Section -->
        <div class="page-header">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Welcome</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Section -->

<section>
{% if messages %}
    {% for message in messages %} 
        {% if message.tags == "error"%}
        <div class="alert alert-danger">
            <div class="messages">
               {{ message }} 
            </div>
        </div>
        {% elif message.tags == "success"%}
        <div class="alert alert-success">
            <div class="messages">
               {{ message }} 
            </div>
        </div>        
        {% elif message.tags == "info"%}
        <div class="alert alert-warning">
            <div class="messages">
               {{ message }} 
            </div>
        </div>                
        {% endif %}
   {% endfor %}
{% endif %}
</section>


    <!-- Start About Us Section -->
    <section id="about-section" class="about-section">
        <div class="container">
            <div class="row">
               <div class="col-md-5">
                   <div class="about-img">
                       <img src="{% static 'theme/assets/images/corporate1.jpg' %}" class="img-responsive" alt="About images">
                       <div class="head-text">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.</p>
                           <span>CEO, Themebean</span>
                       </div>
                   </div>
               </div>
               <div class="col-md-7">
                   <div class="about-text">
                       <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                       <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                   </div>
                   
                   <div class="about-list">
                       <h4>Some important Feature</h4>
                       <ul>
                           <li><i class="fa fa-check-square"></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</li>
                           <li><i class="fa fa-check-square"></i>Lorem ipsum dolor sit amet, consectetur adipiscing adipiscing.</li>
                           <li><i class="fa fa-check-square"></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan.</li>
                           <li><i class="fa fa-check-square"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                           <li><i class="fa fa-check-square"></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</li>
                           <li><i class="fa fa-check-square"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                       </ul>
                       
                       <h4>More Feature</h4>
                       <ul>
                           <li><i class="fa fa-check-square"></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</li>
                           <li><i class="fa fa-check-square"></i>Lorem ipsum dolor sit amet, consectetur adipiscing adipiscing.</li>
                           <li><i class="fa fa-check-square"></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan.</li>
                           <li><i class="fa fa-check-square"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                       </ul>
                   </div>
                   
               </div>
            </div>
        </div>
    </section>
    <section>
                <div class="row">
                    <div class="col-md-3">
                        <div class="services-post">
                            <a href="#"><i class="fa fa-skyatlas"></i></a>
                            <h2>RESPONSIVE DESIGN</h2>
                            <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="services-post">
                            <a href="#"><i class="fa fa-magic"></i></a>
                            <h2>RESPONSIVE DESIGN</h2>
                            <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="services-post">
                            <a href="#"><i class="fa fa-gift"></i></a>
                            <h2>RESPONSIVE DESIGN</h2>
                            <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="services-post">
                            <a href="#"><i class="fa fa-diamond"></i></a>
                            <h2>RESPONSIVE DESIGN</h2>
                            <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada </p>
                        </div>
                    </div>
                </div>
    </section>
{% endblock %}