{% extends "base.html" %}
{% block content %}
<!-- Start Header Section -->
<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Our Services</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->


<div class="service-centre">
    <h3>What can we do for you?</h3>
    <p>We can create clothing to your design, with the materials you want.</p>
</div>

<div class="col-sm-4">
    <h3>BESPOKE CLOTHING</h3>
    <p>We can create clothing to your design, with the materials you want.</p>
</div>
<div class="col-sm-4">
    <h3>RESTORE/FIX CLOTHING</h3>
    <p>As if by magic, we restore damaged clothing back to it's former glory.</p>
</div>
<div class="col-sm-4">
    <h3>RECYCLE OLD CLOTHES</h3>
    <p>We can help bring old clothing back to life with new designs!</p>
</div>
</section>



{% endblock %}




