{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
 
{% block content %}
<!-- Start Header Section -->
<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Address Registration</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->
  <form role="form" method="post" id="register-form" action="{% url 'address' %}">
    <legend>Enter Address</legend>
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <div class="form-group">
      <input class="btn btn-success" id="address_input" name="commit" type="submit" value="Update Address">
    </div>
  </form>
{% endblock %}