{% extends "base.html" %} 

{% load thumbnail %} 
{% load staticfiles %}

 
{% block head_js_products %}
  <script type="text/javascript" src="{% static 'js/products.js' %}"></script>
{% endblock %}



###################################
###################################
Product Detail
###################################
###################################


{% block content %} 

<!-- Start Header Section -->
<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Product Detail</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->

The product ID is! <br><br>      {{product.id}}

{% endblock %}