{% extends "base.html" %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Purchase</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>${{ product.price }}</td>
                    <!-- Below puts the paypal button on the page, currently linked to Dev/Sandbox -->
                    <!-- This is tied into the @property attribute and function def paypal_form in 'Product model' -->
                    <td>{{ product.paypal_form.sandbox }}</td>
                    <!-- For production environment, use the .render method to real PayPal handling system:
                    <td>{{ product.paypal_form.render }}</td>
                    -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}