{% extends "base.html" %} 
{% load thumbnail %} 
{% load staticfiles %} 
{% load product_templatetags %} 

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'products/css/products.css' %}">
{% endblock %} 


{% block content %}
<!-- Start Header Section -->
<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Our Product Range</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->


<section>
{% if messages %}
    {% for message in messages %} 
        {% if message.tags == "error"%}
        <div class="alert alert-danger">
            <div class="messages">
               {{ message }} 
            </div>
        </div>
        {% elif message.tags == "success"%}
        <div class="alert alert-success">
            <div class="messages">
               {{ message }} 
            </div>
        </div>        
        {% elif message.tags == "info"%}
        <div class="alert alert-warning">
            <div class="messages">
               {{ message }} 
            </div>
        </div>                
        {% endif %}
   {% endfor %}
{% endif %}
</section>

<h4>Filtering Options:</h4>
<div class="btn-group btn-group-justified filter-options">
    <div class="btn-group">
        <button type="button" class="btn gender btn-primary dropdown-toggle hidden-xs" data-toggle="dropdown">
        Gender <span class="caret"></span></button>
        <button type="button" class="btn gender btn-primary dropdown-toggle hidden-sm hidden-md hidden-lg hidden-xl" data-toggle="dropdown">
        Gen <span class="caret"></span></button>    
        <ul class="dropdown-menu gender" role="menu">
            <li><a href="{% url 'products' %}?{% query_transform gender="Male" %}">Male</a></li>
            <li><a href="{% url 'products' %}?{% query_transform gender="Female" %}">Female</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn age btn-primary dropdown-toggle" data-toggle="dropdown">
        Age <span class="caret"></span></button>
        <ul class="dropdown-menu age" role="menu">
            <li><a href="{% url 'products' %}?{% query_transform age="Adult" %}">Adult</a></li>
            <li><a href="{% url 'products' %}?{% query_transform age="Child" %}">Child</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn size btn-primary dropdown-toggle" data-toggle="dropdown">
        Size <span class="caret"></span></button>
        <ul class="dropdown-menu size" role="menu">
            {% for item in sizes_ddl %}
                <li><a href="{% url 'products' %}?{% query_transform size=item.size %}">{{ item.size }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn colour btn-primary dropdown-toggle hidden-xs" data-toggle="dropdown">
        Colour <span class="caret"></span></button>
        <button type="button" class="btn colour btn-primary dropdown-toggle hidden-sm hidden-md hidden-lg hidden-xl" data-toggle="dropdown">
        Col <span class="caret"></span></button>

        <ul class="dropdown-menu colour" role="menu">
            {% for item in colour_ddl %}
            <li><a href="{% url 'products' %}?{% query_transform colour=item.colour %}">{{ item.colour }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn category btn-primary dropdown-toggle hidden-xs" data-toggle="dropdown">
        Category <span class="caret"></span></button>
        <button type="button" class="btn category btn-primary dropdown-toggle hidden-sm hidden-md hidden-lg hidden-xl" data-toggle="dropdown">
        Cat <span class="caret"></span></button>    
        <ul class="dropdown-menu category" role="menu">
            {% for item in category_ddl %}
            <li><a href="{% url 'products' %}?{% query_transform category=item.category %}">{{ item.category }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn price btn-primary dropdown-toggle hidden-xs" data-toggle="dropdown">
        Price <span class="caret"></span></button>
        <button type="button" class="btn price btn-primary dropdown-toggle hidden-sm hidden-md hidden-lg hidden-xl" data-toggle="dropdown">
        &pound; <span class="caret"></span></button>    
        <ul class="dropdown-menu price" role="menu">
            {% for price in price_range_ddl %}
                <li><a href="{% url 'products' %}?{% query_transform price=price %}">{{ price }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="btn-group hidden-xs">
        <button type="button" class="btn ordering btn-primary dropdown-toggle" data-toggle="dropdown">
        Ordering <span class="caret"></span></button>
        <ul class="dropdown-menu ordering" role="menu">
            <li><a href="{% url 'products' %}?{% query_transform name='' %}">Decending</a></li>
            <li><a href="{% url 'products' %}?{% query_transform name='reverse' %}">Asending</a></li>
        </ul>
    </div>
    <a href="{% url 'products' %}" class="btn resetall-products btn-primary btn-primary-inverse hidden-xs">RESET ALL</a>
    <a href="{% url 'products' %}" class="btn resetall-products btn-primary btn-primary-inverse hidden-sm hidden-md hidden-lg hidden-xl"><i class="fa fa-refresh" aria-hidden="true"></i></a>    
</div>



<table class="table table-responsive">
    <thead>
        <tr>
            <th class="col-md-2">Product Name</th>
            <th class="col-md-1">Thumb Nail</th>
            <th class="col-md-5 hidden-xs hidden-sm">Description</th>
            <th class="col-md-1">Category</th>
            <th class="col-md-1">Price</th>
        </tr>
    </thead>
    <tbody id="table-row-highlight">
        {% for product in products_paginated %}
        <tr>
            <td>{{ product.name }}</td>
            

            <td class="hidden-xs hidden-sm hidden-md"><img src="{{ product.photo|thumbnail_url:'list-medium' }}" alt="{{ product.photo_alt }}"></td>
            
            <td class="hidden-xs hidden-sm hidden-lg hidden-xl"><img src="{{ product.photo|thumbnail_url:'list-medium' }}" alt="{{ product.photo_alt }}"></td>


            <td class="hidden-md hidden-lg hidden-xl"><img src="{{ product.photo|thumbnail_url:'list-small' }}" alt="{{ product.photo_alt }}"></td>

            <td class="hidden-xs hidden-sm">{{ product.description }}</td>


            <td>{{product.category}}</a></td>
            <td>&pound;{{ product.price }}</td>
        </tr>
        {% endfor %}
    </tbody>


</table>
{% if products_paginated.has_other_pages %}
<ul class="pagination">
    <P>Next Page Num: {{ users.next_page_number }} </P>
    {% if products_paginated.has_previous %}
    <li><a href="?page={{ products_paginated.previous_page_number }}&{% query_transform %}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %} {% for i in products_paginated.paginator.page_range %} {% if products_paginated.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
    </li>
    {% else %}
    <li><a href="?page={{ i }}&{% query_transform %}">{{ i }}</a></li>
    {% endif %} {% endfor %} {% if products_paginated.has_next %}
    <li><a href="?page={{ products_paginated.next_page_number }}&{% query_transform %}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
</ul>
{% endif %} {% endblock %}






{% block extra_footer %}
<script src="{% static 'products/js/products.js' %}"></script>
{% endblock %} 

