{% extends "base.html" %} 
{% load thumbnail %} 
{% load staticfiles %} 
{% load templatetags %} 

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'products/css/products.css' %}">
{% endblock %} 


{% block content %}
<!-- Start Header Section -->
<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Our Product Range</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->



<section>
{% if messages %}
    {% for message in messages %} 
        {% if message.tags == "error"%}
        <div class="alert alert-danger">
            <div class="messages">
               {{ message }} 
            </div>
        </div>
        {% elif message.tags == "success"%}
        <div class="alert alert-success">
            <div class="messages">
               {{ message }} 
            </div>
        </div>        
        {% elif message.tags == "info"%}
        <div class="alert alert-warning">
            <div class="messages">
               {{ message }} 
            </div>
        </div>                
        {% endif %}
   {% endfor %}
{% endif %}
</section>

<h4>Filtering Options:</h4>

<div class="btn-group btn-group-justified filter-options">
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Gender <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'products' %}?{% query_transform gender="M" %}">Male</a></li>
        <li><a href="{% url 'products' %}?{% query_transform gender="F" %}">Female</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Age <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'products' %}?{% query_transform age="A" %}">Adult</a></li>
        <li><a href="{% url 'products' %}?{% query_transform age="C" %}">Child</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Size <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'products' %}?{% query_transform size="reset" %}">RESET</a></li>
        {% for item in sizes_ddl %}
        <li><a href="{% url 'products' %}?{% query_transform size=item.size %}">{{ item.size }}</a></li>
        {% endfor %}
    </ul>
  </div>


  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Colour <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'products' %}?{% query_transform colour="reset" %}">RESET</a></li>
        {% for item in colour_ddl %}
        <li><a href="{% url 'products' %}?{% query_transform colour=item.colour %}">{{ item.colour }}</a></li>
        {% endfor %}
    </ul>
  </div>


  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Category <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
    <li><a href="{% url 'products' %}?{% query_transform category="reset" %}">RESET</a></li>
        {% for item in category_ddl %}
        <li><a href="{% url 'products' %}?{% query_transform category=item.category %}">{{ item.category }}</a></li>
        {% endfor %}
    </ul>
  </div>


  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Price <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
    <li><a href="{% url 'products' %}?{% query_transform price="reset" %}">RESET</a></li>
        {% for price in price_range_ddl %}
        <li><a href="{% url 'products' %}?{% query_transform price=price %}">{{ price }}</a></li>
        {% endfor %}
    </ul>
  </div>


  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Ordering <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'products' %}?{% query_transform name='' %}">Decending</a></li>
        <li><a href="{% url 'products' %}?{% query_transform name='reverse' %}">Asending</a></li>
    </ul>
  </div>


    <a href="{% url 'products' %}" class="btn btn-primary btn-primary-inverse">RESET ALL</a>
</div>


</div>
</div>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Thumb Nail</th>
            <th class="hidden-xs hidden-sm">Description<th>Category</th>
            <th>Price</th>
        </tr>
    </thead>
    <tr></tr>
    <tbody id="table-row-highlight">
        {% for product in products_paginated %}
        <tr>
            <td>{{ product.name }}</td>
            <td><img src="{{ product.photo|thumbnail_url:'list-small' }}" alt="{{ product.photo_alt }}"></td>
            <td class="hidden-xs hidden-sm">{{ product.description }}</td>
            <td>{{product.category}}</a></td>
            <td>&pound;{{ product.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if products_paginated.has_other_pages %}
<ul class="pagination">
    {% if products_paginated.has_previous %}
    <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %} {% for i in products_paginated.paginator.page_range %} {% if products_paginated.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
    </li>
    {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %} {% endfor %} {% if products_paginated.has_next %}
    <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
</ul>
{% endif %} {% endblock %}


{% block extra_footer %}
<script type="text/javascript" src="{% static 'products/js/products.js' %}"></script>
{% endblock %} 

