/* Over riding default theme button colouring*/

.modal-body{
    font-weight: bold; 
    text-align: center;
}

.modal-header{
    background: #ff432e;
    color: #fff;
}

.modal-footer{
    background: #ff432e;
}


.btn-primary-inverse {
    background: #fff;
    color: #ff432e;
    font-size: 16px;
    padding: 8px 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


/* over riding default theme to add a small margin on pic on profile/home page */
.img-responsive{
    margin-bottom: 1em;
}


/* Over riding default theme button colouring*/
.btn-primary-inverse:hover {
    color: #fff;
    background: #ff432e;
    border-left: 2px solid #fff;
    font-size: 16px;
    padding: 8px 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}



/* Spacing for about page */
#about-section {
    padding-top: 5px;
}


/* Over riding default theme footer size*/
footer {
    margin-bottom: 15px;
    margin-top: 15px;
}


.swal-overlay {
    background-color: rgba(255, 67, 46, 0.7);
}


.swal-button--confirm {
    background-color: rgb(3, 201, 99);
    color: #000;
}


/* To override the default theme background image */
.banner {
    text-align: center;
    color: #fff;
    background: url(../img/sewingmachine.jpg) no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* To override the general default theme */
.section-title {
    margin-bottom: 20px;
}


/* To override the general default for service page */
#service-section {
    padding-top: 10px;
    padding-bottom: 20px;
}


/* To override the general default for about page */
#about-section {
    padding-top: 10px;
    padding-bottom: 40px;
}


.services-post {
    margin-bottom: 20px;
}



/* position of font awesome badge-icon (for cart), for small devices */
.fa-stack {
    width: 5px;
    height: 2px;
    top: 40%;
}



/* font awesome badge-icon for cart, for a logged out user */
.fa-stack[data-count].logged-out:after {
    position: absolute;
    content: attr(data-count);
    font-size: 30%;
    padding: .6em;
    border-radius: 999px;
    line-height: .75em;
    color: white;
    background: rgba(255, 0, 0, .85);
    text-align: center;
    min-width: 2em;
    font-weight: bold;
    z-index: 1;
}


/* font awesome badge-icon for cart, for a logged in user */
.fa-stack[data-count].logged-in:after {
    position: absolute;
    content: attr(data-count);
    font-size: 30%;
    padding: .6em;
    border-radius: 999px;
    line-height: .75em;
    color: white;
    background: green;
    text-align: center;
    min-width: 2em;
    font-weight: bold;
    z-index: 1;
}



/* font awesome user-icon for small devices */
.fa-user {
    position: absolute;
    font-size: 100%;
    padding: .6em;
    text-align: center;
    min-width: 2em;
    font-weight: bold;
    z-index: 1;
    width: 5px;
    left: 47px;
    top: 35%;
}


/* font awesome user-icon for logged in user */
.fa-user.logged-in {
    color: green;
}


/* font awesome user-icon for logged out user */
.fa-user.logged-out {
    color: rgb(210, 0, 0);
}


/* Linecon t-shirt icon, amending size */
.li_t-shirt.large {
    font-size: 1.75em;
}


/* Google map on contact page */
#map {
    height: 20em;
    background-color: grey;
    margin: 1.25em;
    border-radius: 5px;
}



/* Aligning/spacing text on services page */
.service-centre {
    text-align: center;
    margin-bottom: 2em;
    margin-bottom: 3em;
}



/* reducing size of nav-bar text for smaller devices */
.navbar-default .navbar-brand {
    font-size: 25px;
}



/* To override the default theme version */
.page-header {
    margin-top: 10px;
    padding: 15px 0;
}



/* For footer copyright section */
.copyright-section {
    font-size: 5px;
    padding: 5px 0;
}


/* about page text - normal (small devices) */
.about-text {
    font-size: 18px;
    margin: 0px 0px 0px 5px;
}

.about-email-text {
    font-size: 18px;
    margin: 0px 0px 25px 5px;
}


/* about page text - title (small devices) */
.about-title {
    font-size: 15px;
    margin: 5px 0px 0px 0px;
    font-weight: bold;
}

/* error msg on contact form page (date field) */
#formErrorMsg{
    color: rgb(255, 0, 0)
}


/*
    CSS for larger devices is below, this is in conjunction with the styling/responsiveness of the initial theme selected
*/

@media (min-width: 768px) {
    /* Navbar text increased for larger devices (as reduced for smaller ones previously) */
    .navbar-default .navbar-brand {
        font-size: 1.8em;
    }


/* To over ride the defaulth theme version */
.page-header {
    margin-top: 10px;
    padding: 40px 0;
}


/* Position for user icon changed for larger devices (as not using collapsed bootstrap menu) */
/* logged out version */
.fa-user.logged-out {
    position: absolute;
    font-size: 100%;
    padding: .6em;
    text-align: center;
    min-width: 2em;
    font-weight: bold;
    z-index: 1;
    width: 5px;
    left: 35px;
    top: 35%;
}


/* Position for user icon changed for larger devices (as not using collapsed bootstrap menu) */
/* logged in version */

.fa-user.logged-in {
    position: absolute;
    font-size: 100%;
    padding: .6em;
    text-align: center;
    min-width: 2em;
    font-weight: bold;
    z-index: 1;
    width: 5px;
    left: 47px;
    top: 35%;
}


/* For footer copyright section */
.copyright-section {
    font-size: 12px;
    padding: 20px 0;
}


/* about page text - normal */
.about-text {
    font-size: 25px;
    margin: 0px 0px 0px 10px;
}


/* about page text - title */
.about-title {
    font-size: 25px;
    margin: 20px 0px 0px 0px;
    font-weight: bold;
}


}