	
.row-gray {
	background-color: rgb(212, 212, 212);
}

.product-detail-header{
	margin-bottom: 1em;
}

.product-detail-description{
	margin-bottom: 2em;
}


.product-detail-order-opt{
	margin-bottom: 2em;
}