	
.row-gray {
	background-color: rgba(255, 67, 46, 0.2);
}


.product-detail-header{
	margin-bottom: 1em;
}

.product-detail-description{
	margin-bottom: 2em;
}


.product-detail-order-opt{
	margin-bottom: 2em;
}

.out-of_stock_clr{
	color: rgb(255, 67, 46);	
}