{% extends "base.html" %} 
{% block content %}
<!-- Start Header Section -->
<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Our Services</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->
<section>
    <div class="service-centre">
        <h3>How can we help you?</h3>
    </div>
    <div id="bespoke-clothing" class="col-sm-4 text-justify">
        <h4 class="text-center">BESPOKE CLOTHING</h4>
        <p>Would you like break free from the conformity of the high street fashion chains and express yourself in a totally unique way? Would you like to to have your own ideas incorporated into what you wear? If so please <a href="{% url 'contact' %}">contact us</a>, we at Sewing in Southsea enjoy helping others to create their own clothing. From discussing ideas drafting initial designs through to final fitting and adjustment, we can help and support you every step of the way to making your dream creations come true.</p>
    </div>
    <div id="restore-clothing" class="col-sm-4 text-justify">
        <h4 class="text-center">RESTORE/FIX CLOTHING</h4>
        <p>Do you have clothing you don’t want to throw out but its not looking good enough to wear out? Do you have an item of clothing that has had an accident, torn shirt, ripped pocket, broken zip? If so, we at Sewing in Southsea are in a position to help you! Restoring and/or fixing existing clothing is the most cost effective way of maintaining a wardrobe of clothes you can be proud of, so please <a href="{% url 'contact' %}">contact us</a> so we can help, we pride ourselves on making any item look as good as new.</p>
    </div>
    <div id="recycle-clothing" class="col-sm-4 text-justify">
        <h4 class="text-center">RECYCLE OLD CLOTHES</h4>
        <p>Do you have old clothes in your wardrobe that are either unused, damaged or that you’ve simply fallen out of love with? Well instead of throwing them out, perhaps you might like to recycle them and create new items from them! Perhaps you like the idea of creating new clothes in a cost effective way or perhaps you just fancy starting a fun hobby with a friend or family member. Whatever the reason, please <a href="{% url 'contact' %}">contact us</a> at Sewing in Southsea so we can advice you on the best way to get the most out of your old clothing.</p>
    </div>
</section>
{% endblock %}