

.btn-primary-inverse {
    background: #fff;
    color: #ff432e;
    font-size: 16px;
    padding: 8px 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-primary-inverse:hover {
    color: #fff;
    background: #ff432e;
    border-left: 2px solid #fff;
    font-size: 16px;
    padding: 8px 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}



#about-section {
    padding-top: 5px;
}

footer {
    margin-bottom: 15px;
    margin-top: 15px;    
}


.swal-overlay {
    background-color: rgba(255, 67, 46, 0.7);
}


.swal-button--confirm {
    background-color: rgb(3, 201, 99);
    color: #000;
}

/* To override the default theme background image */
.banner {
    text-align: center;
    color: #fff;
    background: url(../../media/img/sewingmachine.jpg) no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#service-section {
    padding-top: 10px;
    padding-bottom: 20px;
}

#about-section {
    padding-top: 10px;
    padding-bottom: 40px;
}

.section-title {
    margin-bottom: 20px;
}

.services-post {
    margin-bottom: 20px;
}



.fa-stack{
  width: 5px;
  height: 2px;  
  top:40%;
}

.fa-stack[data-count].logged-out:after{
  position:absolute;
  content: attr(data-count);
  font-size:30%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width:2em;
  font-weight:bold;
  z-index: 1;

}


.fa-stack[data-count].logged-in:after{
  position:absolute;
  content: attr(data-count);
  font-size:30%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background: green;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  z-index: 1;

}



.fa-user{
  position:absolute;
  font-size:100%;
  padding:.6em;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  z-index: 1;
  width: 5px;
  left: 45px;
  top:35%;
}

.fa-user.logged-in{
  color: green;
}


.fa-user.logged-out{
  color: rgb(210, 0, 0);
}

.li_t-shirt.large{
  font-size: 1.75em;
}


 #map {
  height: 20em;
  background-color: grey;
 }


 .service-centre{
  text-align: center;
  margin-bottom: 2em;
  margin-bottom: 3em;
 }



.navbar-default .navbar-brand {
    font-size: 25px;
  }


/* To over ride the defaulth theme version */
.page-header {
    margin-top: 10px;
    padding: 15px 0;
}



/*

*/
@media (min-width: 768px) {

.navbar-default .navbar-brand {
    font-size: 40px;
  }

}
/* To over ride the defaulth theme version */
.page-header {
    margin-top: 10px;
    padding: 40px 0;    
}


.fa-user.logged-out{
  position:absolute;
  font-size:100%;
  padding:.6em;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  z-index: 1;
  width: 5px;
  left: 35px;
  top:35%;
}

.fa-user.logged-in{
  position:absolute;
  font-size:100%;
  padding:.6em;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  z-index: 1;
  width: 5px;
  left: 47px;
  top:35%;
}